<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Big Cat Edit Page</title>
</head>
<body>
  <h1>Edit <%= oneBigCat.name %></h1>
  <form action="/bigcats/<%= index %>?_method=PUT" method="POST">
    Name: <input type="text" name="name" value="<%= oneBigCat.name %>"/><br/>
    Fur: <input type="text" name="fur" value="<%= oneBigCat.fur %>"/><br/>
    Home: <input type="text" name="home" value="<%= oneBigCat.home %>"/><br/>
    Fun fact: <input type="text" name="fact" value="<%= oneBigCat.fact %>"/><br/>
    <input type="submit" value="Submit changes"/>
  </form>  
</body>
</html>